[submodule "lib/commonlibsse"]
	path = lib/commonlibsse
	url = https://github.com/libxse/commonlibsse.git
[submodule "extern/CLibUtil"]
	path = extern/CLibUtil
	url = https://github.com/powerof3/CLibUtil.git
